 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About Me</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-offset-2">
                    <p>경력 사항 </br></br>
                    브이트론 : SRT 예약발매 및 고장 코드 무선 전송 장치 프로그램 개발 </br></br>
                    오르비텍 : TLD 방사선 프로그램 개발 및 하드웨어 관리</br></br>
                    지오시스(큐텐) : 배송 트래킹 관련 백엔드 프로그램 프론트 UI 웹 서비스 및 API 개발</br></br>
                    </p>
                </div>
                <!--<div class="col-lg-4">
                    <p>Whether you're a student looking to showcase your work, a professional looking to attract clients, or a graphic artist looking to share your projects, this template is the perfect starting point! </p>
                </div>-->
            </div>
        </div>
    </section>
